@page
@model SacramentPlanner.Pages.AboutModel

@{
    ViewData["Title"] = "Contact Us";
}

<h2>Contact Us</h2>
<address>
    1325 Scotts Run Rd,<br />
    McLean, VA 22102<br />
    <abbr title="Phone">P:</abbr>
    703.534.4942
</address>