@page
@model SacramentPlanner.Pages.Students.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
</div>
<div class="row">
    <div class="media"></div>
</div>

@{
    ViewData["Title"] = "Index";
}

<h2>Welcome</h2>
<br />
<p></p>


