@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <p>For schedule <a class="btn btn-default" href="">
            Click here. &raquo;</a></p>
        <p>To create a schedule <a class="btn btn-default" href="">
    Click here. &raquo;</a></p>
    </div>
   
</div>